<!doctype html>
<html>
  <head>

    <link rel = "stylesheet" href = "/page1/public/css/page2.css">

    <title>4</title>

  </head>

  <body>

    <div>

      <img src="/page1/public/assets/duvida.png">



      <input type="text" id="answer">

      <button type="button" id="botao" onclick="myFunction()">Enviar</button>

      <p id="demo">
    </div>

    <script>
      function myFunction(){
        let x = document.getElementById("answer").value;
        let text;
        if(x != "entidades"){
          text = "Senha incorreta";
        }
        else{
            window.location.href = "page5.html"
        }
        document.getElementById("demo").innerHTML = text;
      }
    </script>
    
  </body>
</html>

