<!doctype html>
<html>
  <head>

    <link rel = "stylesheet" href = "/page1/public/css/page1.css">

    <title>1</title>

  </head>

  <body>

    <div>
      <img src = "/page1/public/assets/Black_Swan_Family.jpg">

      <p>Egafocifer</p>

      <input type="text" id="answer">

      <button type="button" id="botao" onclick="myFunction()">Enviar</button>

      <p id="demo"></p>
      
    </div>

    <script>
      function myFunction(){
        let x = document.getElementById("answer").value;
        let text;
        if(x != "sutartsa"){
          text = "Senha incorreta";
      
        }
        else{
          window.location.href = "page2.html"
        }
        document.getElementById("demo").innerHTML = text;
      }
    </script>
    
  </body>
</html>

