<!doctype html>
<html>
  <head>

    <link rel = "stylesheet" href = "/page1/public/css/page2.css">

    <title>8</title>

  </head>

  <body>

    <div>

      <p> Parabéns Agentes! Vocês chegaram ao último enigma.
        Se lembram da dica que eu dei no começo? É uma boa hora para usarem :)
      </p>



      <input type="text" id="answer">

      <button type="button" id="botao" onclick="myFunction()">Enviar</button>

      <p id="demo">
    </div>

    <script>
      function myFunction(){
        let x = document.getElementById("answer").value;
        let text;
        if(x != "ophelia"){
          text = "Senha incorreta";
        }
        else{
            window.location.href = "page9.html"
        }
        document.getElementById("demo").innerHTML = text;
      }
    </script>
    
  </body>
</html>

