body {
    background-color: black;
}

p {
    color: white;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}


button{
    display: block;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
}

#dica{
    font-size: 15px;
}
